.section {
  font-family: "Zilla Slab", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.section h1 {
  font-size: 36px;
}
.section p {
  font-size: 24px;
}
.textContainer {
  width: 60%;
  padding: 4rem;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  display: inline-block;
}
.textContainer .welcomheading {
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: left;
  width: 75%;
}
.textContainer .welcomepara {
  margin-bottom: 2rem;
  text-align: left;
  width: 60%;
}
.textContainer .heading {
  font-weight: 600;
  margin-bottom: 2rem;
}
.textContainer .aboutpara {
  text-align: justify;
  margin-bottom: 2rem;
  padding: 0 3rem;
}

.imageContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-right: 2rem;
}

.imageContainer img {
  max-width: 80%;
  height: auto;
}
.section button {
  width: 8rem;
  height: 2.5rem;
  border: 3px solid var(--pink);
  border-radius: 50px;
  box-sizing: border-box;
  font-weight: bold;
  cursor: pointer;
}
.section .btns {
  /* make first btn to left corner and gap between two btns */
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin-top: 2rem;
}
.btn1 {
  background: var(--pink);
  color: var(--background-color);
}
.btn2 {
  background: var(--background-color);
  color: var(--pink);
  margin-left: 2rem;
}
.headingmobile{
  display: none;
}
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    height: auto;
  }
  .textContainer {
    width: 100%;
    padding: 3rem 1.2rem;
  }
  .textContainer .welcomheading,
  .textContainer .welcomepara {
    text-align: center;
    width: 100%;
  }
  .section .btns {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .imageContainer {
    width: 100%;
    /* margin-top: 3rem; */
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .headingmobile{
    display: inline-block;
    margin: 3rem;
  }
  .about .heading{
    display: none;
  }
  .textContainer .aboutpara {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .aboutImg{
    width: 80%;
    height: 80%;
  }
}
